@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

/* Colors */
:root {
    --first-color: #E3F8FF;
    --second-color: #DCFAFB;
    --third-color: #FFE8DF;
    --accent-color: #FF5151;
    --dark-color: #161616;
}

/* Typography */
:root {
    --body-font: 'Open Sans';
    --h1-font-size: 1.5rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --smaller-font-size: 0.75rem;
}

@media screen and (min-width: 768px) {
    :root {
        --h1-font-size: 2rem;
        --normal-font-size: 1rem;
        --smaller-font-size: 0.813rem;
    }
}


/* TRY OWN STYLE */

/* Base */
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-top: 2rem;
    background-color: #ffffff;
    font-family: var(--body-font);
    color: var(--dark-color);
}

img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

/* Layout */
.main {
    padding: 2rem 0;
}

.bd-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(202px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    align-items: center;
}

/* Page */
.title-shop {
    margin: 0 2.5rem;
    position: relative;
}

.title-shop::after {
    content: '';
    width: 72px;
    height: 2px;
    background-color: var(--dark-color);
    position: absolute;
    top: 50%;
    margin-left: .25rem;
}

/* Components */
.card {
    border-radius: 1rem;
    padding: 1.5rem 2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--second-color);
    overflow: hidden;
}

article:nth-child(1) {
    background-color: var(--first-color);
}

article:nth-child(2) {
    background-color: var(--second-color);
}

article:nth-child(3) {
    background-color: var(--third-color);
}

article:nth-child(4) {
    background-color: var(--second-color);
}

.card__img {
    width: 180px;
    height: auto;
    padding: 3rem 0;
    transition: .5s;
}

.card__name {
    width: 3.5rem;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    background-color: var(--dark-color);
    color: #ffffff;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: -25%;
    height: 100%;
    padding: 1rem;
    text-align: center;
    transition: .5s;
}

.card__icon {
    font-size: 1.5rem;
    color: var(--dark-color);
}

.card__icon:hover {
    color: var(--accent-color);
}

.card__prices {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    transition: .5s;
}

.card__price {
    display: block;
    text-align: center;
}

.card__price--before {
    font-size: var(--smaller-font-size);
    color: var(--accent-color);
    margin-bottom: .25rem;
}

.card__price--now {
    font-size: var(--h3-font-size);
    font-weight: bold;
}


/* Effects */
.card:hover {
    box-shadow: 0 .5rem 1rem #d1d9e6;
}

.card:hover .card__img {
    transform: rotate(30deg);
    margin-left: 3.5rem;
}

.card:hover .card__name {
    left: 0;
}

.card:hover .card__prices {
    margin-left: 3.5rem;
    padding: 0 1.5rem;
}

/*-- MEDIA QUERIES --*/
@media screen and (min-width: 1200px) {
    body {
        margin: 3rem 0 0 0;
    }

    .title-shop {
        margin: 0 5rem;
    }

    .bd-grid {
        margin-left: auto;
        margin-right: auto;
    }
}