@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
/*Color*/
:root {
  --first-color: #fff;
  --second-color: #bdbdbd;
}

/*Typography*/
:root {
  --body-font: "Open Sans";
  --h1-font-size: 2rem;
}

@media screen and (min-width: 768px) {
  :root {
    --h1-font-size: 3.5rem;
  }
}

/* z-index*/
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

body {
  font-family: var(--body-font);
}

.bd-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  max-width: 1200px;
  margin: 0 1rem;
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: var(--z-tooltip);
}

.main-bg {
  height: 100vh;
}

.main-bg__hero-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.nav {
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  color: var(--second-color);
}

@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    width: 85%;
    height: 85%;
    margin: auto;
    padding: 2rem;
    border: 1px solid var(--first-color);
    z-index: var(--z-fixed);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}

.nav__logo {
  color: var(--second-color);
}

.nav__logo:hover {
  color: var(--first-color);
}

.nav__list {
  text-align: center;
}

.nav__item {
  margin-bottom: 2rem;
}

.nav__link {
  padding: 0.5rem;
  color: var(--second-color);
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__toggle {
  cursor: pointer;
  font-size: 1.5rem;
}

.nav__toggle:hover {
  color: var(--first-color);
}

.nav .show {
  top: 3rem;
}

.home {
  position: relative;
  height: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
  color: var(--first-color);
  row-gap: 2rem;
}

.home__title {
  font-size: var(--h1-font-size);
}

.button {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  background-color: var(--first-color);
  color: #000000;
  margin-right: 1rem;
  border-radius: 0.25rem;
}

.button:hover {
  background-color: transparent;
  border: 1px solid var(--first-color);
  color: var(--first-color);
}

.button--ghost {
  background-color: transparent;
  border: 1px solid var(--first-color);
  color: var(--first-color);
}

.button--ghost:hover {
  background-color: var(--first-color);
  color: #000000;
}

@media screen and (min-width: 768px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav__item {
    margin-right: 1.5rem;
    margin-bottom: 0;
  }
  .nav__toggle {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .bd-grid {
    margin: 0 auto;
  }
}
/*# sourceMappingURL=style.css.map */